@import url('../vendor/bootstrap/variables.less');
@import url('./variables.less');
@import url('./fuentes.less');

html, body {
    -webkit-font-smoothing: antialiased;
    .ralewaySemi;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
    .brandonRegular;
}

p {
    .ralewaySemi;
}

a {
    cursor: pointer;
    color: #fff;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

[class*='col-'] {
    transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.paddingNull {
    padding: 0;
}

.container {
    padding: 0 15px;
    max-width: 970px;
}


//
//=== EFECTOS:
//

.sombraHeader {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
}
.backgroundHeader {
    background-color: #000;
    background: linear-gradient(to right, @colorLujo1 0%, @colorLujo2 100%);
}

// Definimos un grandiente para el fondo de todas las imágenes:
.backgroundOpacidad {
    background-color: #000;
    background: linear-gradient(135deg, @colorLujo1 0%, @colorLujo2 100%);
}
// Definimos un sombreado para resaltar el contenido sobre la imagen:
.sombraElem {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 100%);
    z-index: 1;
}
// Definimos una transición básica para todos los efectos:
.transicion1 {
    transition: all .3s ease-in-out;
    -webkit-transform: translateZ(0);
}
.transicion2 {
    transition: all .5s;
    -webkit-transform: translateZ(0);
}
//
.transicionCaption {
    transition: all .7s ease-in-out;
    -webkit-transform: translateZ(0);
}

// Definimos efectos normal y :hover para los textos:
.captionTextos {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        a {
            color: red;
            display: block;
            width: 60px;
            &:hover {
                color: blue;
            }
        }
    }
}
